body {
    font-family: "YuKyokasho","Kozuka Gothic Pro",sans-serif;
    color:#666;
    margin-top:0;
  }
.problem {
    display:flex;
    flex-direction: row;;
    margin:0 0  1.5em;
}
.problem__num {
    font-size: 1.5rem;
    width: 60px;
    line-height: 40px;
    height:40px;
}