@media print {  
  body {
  }
  .page {
    page-break-inside: avoid;
    /*border: 1px solid #aaa;*/
  }
  .page:nth-child(2n+1) {
    /* Left */
    page-break-before: always;
    padding-left:0.5cm;
    padding-right:1cm;
  }
  .page:nth-child(2n) {
    /* Right */
    page-break-after: always;
    padding-left:1.5cm;
  }
  .page__header {
    
  }
  .page__body {
    padding-left:1.0cm;
    
  }
  .page__body {
    
  }
  .problem {
  }
  .problem__number {
  }
  .problem__first {
  }
  .problem__second {
  }
  .problem__mark {
  }
}