body {
  font-family: "YuKyokasho","Kozuka Gothic Pro",sans-serif;
  color:#666;
  margin-top:0;
}
.page {
  float:left;
  margin:0;
  width: 50%;
  box-sizing: border-box;
  height:720px;
  display:flex;
  flex-direction: column;
}
.page:nth-child(2n) {
  /* Left */
}
.page:nth-child(2n+1)
  /* Right */ {
  clear: left;
}
.page__header {
  height: 54px;
}

.num-ref {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.num-ref__num {
  width:100%;
  border-left:1px solid #888;
  border-top:1px solid #888;
  border-bottom:1px solid #888;
  text-align: center;
  font-size: 1.4em;
}
.num-ref__num:last-child {
  border-right:1px solid #888;
}
.page__body {
  padding-left:1em;
  display:flex;
  flex-direction: column;
  flex: 1;
}
.page__footer {
  height: 48px;
}
/* Problem */
.problem {
  flex: 1;
  display:flex;
  flex-direction: row;
  align-items:center;
  /*font-size:48px;*/
}
.problem > div {
}

/* Base class */
.problem__item {
  display:block;
  font-size: 24px;
  line-height: 100%;
  /* margin:0 0.3em; */
  margin:0 0.12em;
}

/* Variants */
.problem__item--index {
  font-size: 50%;
}
.problem__item--number {
  font-size: 100%;
}
.problem__item--operand {
  font-size: 100%;
}
.problem__item--box {
  font-size: 100%;
  border: 1px solid #aaa;
  min-height:1.2em;
}
.problem__item--space {
  font-size: 100%;
  min-height:1.2em;
}

/* Alignment */
.a-left {
  text-align:left;
}
.a-center {
  text-align:center;
}
.a-right {
  text-align:right;
}