body {
  font-family: "YuKyokasho","Kozuka Gothic Pro",sans-serif;
  color:#666;
  margin-top:0;
}
.page {
  float:left;
  margin:0;
  width: 50%;
  box-sizing: border-box;
}
.page:nth-child(2n) {
  /* Left */
}
.page:nth-child(2n+1)
  /* Right */ {
  clear: left;
}
.page__header {
  height: 54px;
}

.num-ref {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.num-ref__num {
  width:100%;
  border-left:1px solid #888;
  border-top:1px solid #888;
  border-bottom:1px solid #888;
  text-align: center;
  font-size: 1.4em;
}
.num-ref__num:last-child {
  border-right:1px solid #888;
}
.page__body {
  padding-left:2em;
}
.page__footer {
  height: 48px;
}
/* Problem */
.problem {
  font-size:0;
  line-height:76px;
}
.problem--compact {
  line-height: 68px!important;
}
.problem > div {
}
.problem__number {
  font-size: 24px;
  display:inline-block;
  width:60px;
  text-align: center;
  vertical-align: middle;
  color:#888;
}
.problem__first {
  font-size: 48px;
  display:inline-block;
  width:64px;
  text-align: right;
  vertical-align: middle;
}
.problem__second {
  font-size: 48px;
  display:inline-block;
  vertical-align: middle;
  width:44px;
  
}
.problem__mark {
  font-size: 48px;
  display:inline-block;
  width:64px;
  text-align: center;
  vertical-align: middle;
}