extends ./layout
block pages
  .page
    .problem
      .problem__number (1)
      .problem__first 10
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (2)
      .problem__first 14
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (3)
      .problem__first 5
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (4)
      .problem__first 4
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (5)
      .problem__first 11
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (6)
      .problem__first 12
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (7)
      .problem__first 6
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (8)
      .problem__first 2
      .problem__mark +
      .problem__second 4
      .problem__mark =
  .page
    .problem
      .problem__number (1)
      .problem__first 15
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (2)
      .problem__first 9
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (3)
      .problem__first 7
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (4)
      .problem__first 10
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (5)
      .problem__first 8
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (6)
      .problem__first 13
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (7)
      .problem__first 1
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (8)
      .problem__first 5
      .problem__mark +
      .problem__second 4
      .problem__mark =
  .page
    .problem
      .problem__number (1)
      .problem__first 5
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (2)
      .problem__first 13
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (3)
      .problem__first 3
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (4)
      .problem__first 7
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (5)
      .problem__first 14
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (6)
      .problem__first 12
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (7)
      .problem__first 10
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (8)
      .problem__first 11
      .problem__mark +
      .problem__second 4
      .problem__mark =
  .page
    .problem
      .problem__number (1)
      .problem__first 5
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (2)
      .problem__first 10
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (3)
      .problem__first 1
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (4)
      .problem__first 7
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (5)
      .problem__first 15
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (6)
      .problem__first 9
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (7)
      .problem__first 6
      .problem__mark +
      .problem__second 4
      .problem__mark =
    .problem
      .problem__number (8)
      .problem__first 4
      .problem__mark +
      .problem__second 4
      .problem__mark =
